@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);


* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }



body {
	background: #fff;
	font-weight: 400;
  width:100%;
	font-family: 'Lato', Arial, sans-serif;
    padding : 0;
    margin: 0;
}



.ha-header {
	height:130px;
	width: 100%;
	z-index: 50;
	font-family: 'Lato', Arial, sans-serif;
}

.ha-header-perspective {
	width: 100%;
	height: 100%;

	position: relative;

}

.ha-header-perspective-non-image > div {

	padding: 15% 20%;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	position: relative;
	text-align: center;
  box-sizing: border-box;

	
}

.ha-header-perspective > div {
  background: #2aaff7;

  background-image: url("/static/img/phelps.jpg") ;
    background-repeat: no-repeat;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;

  padding: 1% 0%;
  height: 100%;
  width: 100%;
  margin: 0 0;
  position: relative;
  text-align: justify;
   box-sizing: border-box;

}

.ha-header-front {
	z-index: 2;
	-webkit-transform-origin: 50% 100%;
	background: #2aaff7
	-moz-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}

.ha-header-perspective > div::after {
    content: '';
    display: inline-block;
    width: 100%;
}

.ha-header h1,
.ha-header h1::before,
.ha-header h1 span,
.ha-header nav,
.ha-header nav::before {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

.ha-header h1 {
	font-weight: 600;
	font-size: 3.2em;
	margin: 0;
	padding: 0 1em 0 0;
	color: #fff;
	cursor: default;
	height: 100%;
	z-index: 1;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.ha-header nav {
	height: 100%;

}

.ha-header nav a:hover {
	color: #bc3c2f;
}

.ha-header > .ha-header-perspective nav a {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
    padding: 0.2em 0.4em;
    margin: 0 0.4em 0;
    font-size: 1em;
    cursor: pointer;
    color: #fff;
    outline: none;
    text-decoration: none;

}


.ha-header > .ha-header-perspective-non-image nav a {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
  padding: 0.2em 0.7em;
  margin: 0 0.4em 0;
  font-size: 1.8em;
  cursor: pointer;
  color: #fff;
  background-color: rgba(128,128,128,0.6);
  outline: none;
  text-decoration: none;
}


.ha-header nav a:last-child {
    margin-right: 0;
}

.ha-header .ha-header-front nav a {
	border: 2px solid #fff;
}

.link-container{
	width:50%; 
	height:500px; 
	margin: 0 auto;
	opacity: 0.8;
	background-size: cover
}
.link-box{
	width:40%; 
	height:100px;
	background: #1974D2;
	position: relative; 
	top: 0px; 
	left: 50px; 
}

a.button{
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
	opacity: 0.0;
    color: white;
    border: 2px solid #FFFFFF; 
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor:pointer;
}

a.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    color: #777;
}
.info h4 {
    margin: 0 0 5px;
    
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.map { 

    height: 800px;
    width:75%;
    margin: 0 auto;

}


.countriesContainer {
    text-align: middle;

}

.countryBox{
	font-size: 24pt;
     border-radius: 9px 9px 9px 9px;
  background:#fff;
}

.inputSection{
  background: #2aaff7; 
  width:100%;
}

.inputSection > div h1 {
  font-size: 30pt;
  font-weight: bold;

}

.results {
   -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
     background-repeat: no-repeat;

     font-size:24pt;

}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.votingSelection {

    vertical-align: middle;
    text-align: middle;
    padding: 300px 100px;

}


.votingSelection select {
   border: 0;
   color: #4b4a4a;
   background: transparent;
   font-size: 20px;
   font-weight: bold;
   padding: 2px 10px;
   width: 378px;
   *width: 350px;
/*   *background: #58B14C;
*/   -webkit-appearance: none;
   }

.vote-results-container {
  text-align: center;
  width: 100%;
  width: 100%;
  padding:5%;
  box-sizing: border-box;

}

.vote-results h2{
  font-weight: bold;
  font-size:24pt;
  padding-bottom: 60px;
}
.vote-results table{
  border-collapse: collapse;

}
.vote-results th  {
  height:50px;
  font-size:16pt;
}
.vote-results  td {
   border-bottom: 1px solid black;
  height:30px;
  padding:2% 0%;
  font-weight:bold;
}

.vote-results tr:hover{
  background-color: #f5f5f5
}
#countrySelectionBox {

   overflow:hidden;
   width:350px;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 1px 1px 11px #330033;
   background: #fff url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;

    
}
#athleteSelectionBox {

   overflow:hidden;
   width:350px;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 1px 1px 11px #330033;
   background: #fff url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
}

.slider {
  height: 18px;
  font-size: 16px;
  overflow: hidden;
  background-color: lightgrey;
  text-align: center;
}

.slider div, .slider div p {
  margin: 0;
  padding: 0;
}

.slider div {
  animation: slide 10s 2s infinite;
}

@keyframes slide {
  0% { margin-top: 0; }
  25% { margin-top: -18px; }
  50% { margin-top: -36px; }
  75% { margin-top: -54px; }
  100% { margin-top: 0; }
}

.scroller {
 height: 40px;  
 
 white-space: nowrap;
 position: absolute;
 left:0;
 top:0;
 width:100%;
 background-color:rgba(128,128,128,0.3);


}
.scroller h3{
 font-size: 25px;
 font: 'BebasNeueRegular';
 color: white;
 position: absolute;
 left:0;
 top:0;
 width: 110%;
 height: 100%;
 margin: 0;
 line-height: 40px;
 text-align: center;
 
 

 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);  
 transform:translateX(100%);
  
 -moz-animation: scroller 15s linear infinite;
 -webkit-animation: scroller 15s linear infinite;
 animation: scroller 15s linear infinite;
}

@-moz-keyframes scroller
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}

@-webkit-keyframes scroller {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}

@keyframes scroller {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%);     
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}

input[type=submit] {
	 background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size:20pt;
    border-radius: 18px;
-moz-border-radius: 5px;
}

.cb-slideshow,
.cb-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
    
}
/*.cb-slideshow:after { 
    content: '';
    background: transparent url(../images/pattern.png) repeat top left; 
}*/

.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div { 
    z-index: 1;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div h3 { 
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 240px;
    padding: 6%;
    line-height: 200px; 
}

.cb-slideshow li:nth-child(1) span { 
    background-image: url("/static/img/backgroundimage1.jpg"); 
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url("/static/img/backgroundimage2.jpg");
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url("/static/img/backgroundimage3.jpg");
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url("/static/img/backgroundimage4.jpg");
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) span { 
    background-image: url("/static/img/backgroundimage5.jpg") ;
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) span { 
    background-image: url("/static/img/backgroundimage6.jpg") ;
    animation-delay: 30s; 
}

.cb-slideshow li:nth-child(2) div { 
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) div { 
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) div { 
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) div { 
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) div { 
    animation-delay: 30s; 
}
@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}

.navContainer {
  z-index: 50;
}

ol, ul {
    list-style: none;
}