{% extends 'layout.html' %}
{% block heading %}All Countries{% endblock %}
{% block content %}
<ul>
  {% for country in countries %}
  <li>{{country.name}}</li>
  {% endfor %}
</ul>
<hr/>
{% endblock %}
