<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>GOlympics!</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/static/css/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/component.css" />    
    <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico" />
     <link rel="import" href="/static/bower_components/flag-icon/flag-icon.html" />
    <script src="/static/bower_components/webcomponentsjs/webcomponents.min.js"></script> 
  </head>
  <body>
   <header id="ha-header" class="ha-header">
        <div class="ha-header-perspective">
          <div class="ha-header-front">
            <h1>GOlmypics</h1>
            <nav>
              <a href="/vote_results">&lsaquo;Vote Results</a>
              <a href="/">Home</a>
              <a href="/olympians">Top Olympians &rsaquo;</a>
            </nav>
          </div>
        </div>
      </header>


  

  <div class="countriesContainer" style="text-align: center ; width: 100%;">


    <form  action="/compare_countries" method="POST" >
      
      <div class="inputSection">
       
           
            <br />
            <div id="countryA" style="width: 50%;float: left;">
                <h1>First Country</h1> {{form.countryA(class_="countryBox")}}
            </div>
            
          <!-- <div style =" width:20% ;float: left;">
            <img src="static/img/olympicrings400.png"> 
            </div>    -->

            <div id="countryB" style="width : 50%; float: left;">
                 <h1>Second Country</h1> {{form.countryB(class_="countryBox")}}
            </div>
            <br />
            <div>
                <br>
                <input type="submit" id="submitButton" value="Submit" style="width : 10%; " >
            </div>
            <br />
      </div>

    </form>

        <div class="results" style="width:100%;">
             {% block content %}
            
            {% if countryA %}

              <h1>Results</h1>

             <div class="countryAResults" style="width: 50%; float: left;">
                <h2> {{form.countryA.data}} </h2>
                {% endif %}
                {% if goldA %}
                  {% for row in goldA %}
                    <h2> Gold count: {{row[0]}}</h2>
                  {% endfor %}
                {% endif %}

                {% if silverA %}
                 {% for row in silverA %}
                    <h2> Silver count: {{row[0]}}</h2>
                  {% endfor %}
                {% endif %}

                {% if bronzeA %}
                  {% for row in bronzeA %}
                    <h2> Bronze count: {{row[0]}}</h2>
                  {% endfor %}
                {% endif %}

                {% if mostDecoratedA %}
                  {% for row in mostDecoratedA %}
                    <h2> Top Athlete : {{row[0]}}</h2>
                  {% endfor %}
                {% endif %}

                {% if mostMedalsPerGameA %}
                  {% for row in mostMedalsPerGameA %}
                    <h2> Year with most medals : {{row.year}} ({{row.host_name}})</h2>
                  {% endfor %}
                {% endif %}
             </div>

              <div class="countryBResults" style=" width:50%;float: left;">
                {% if countryB %}
                <h2> {{form.countryB.data}} </h2>
                {% endif %}
                 {% if goldB %}
                  {% for row in goldB %}
                    <h2> Gold count: {{row[0]}}</h2>
                  {% endfor %}
                {% endif %}

                {% if silverB %}
                  {% for row in silverB %}
                     <h2> Silver count: {{row[0]}}</h2>
                  {% endfor %}
                {% endif %}

                {% if bronzeB %}
                  {% for row in bronzeB %}
                    <h2> Bronze count: {{row[0]}}</h2>
                  {% endfor %}
                {% endif %}

                  {% if mostDecoratedB %}
                  {% for row in mostDecoratedB %}
                    <h2> Top Athlete : {{row[0]}}</h2>
                  {% endfor %}
                {% endif %}

                {% if mostMedalsPerGameB %}
                  {% for row in mostMedalsPerGameB %}
                    <h2> Year with most medals : {{row.year}} ({{row.host_name}})</h2>
                  {% endfor %}
                {% endif %}


             </div>
             {% endblock %}
        </div>
  
  </div>

     <div class="map" id="map">
      <script type="text/javascript" src="static/js/leafletmap.js"></script>
     </div>
   </body>
</html>