<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>GOlympics!</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
 <!--    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen"/> -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" type="text/css" href="/static/css/component.css?<?php echo time(); ?>" />
  </head>
  <body>
   <header id="ha-header" class="ha-header ha-header-large">
        <div class="ha-header-perspective">
          <div class="ha-header-front">
            <h1>GOlympics</h1>
            <nav>
              <a href="/vote_results"> &lsaquo; Vote Results</a>
              <a href="/">Home</a>
              <a href="/compare_countries">Country Results &rsaquo;</a>
            </nav>
          </div>
        </div>
      </header>
    <div class="votingSelection" style="width:100%;">
      <div id="countrySelection" style="width: 50%; float:left;">
        {% block content %}
        
        <form name="country_selection" action="{{ url_for('votes')}}" method='POST'>
          
          <select name="country" id="countrySelectionBox">
            {% if(country)%}
              <option value="{{ country }}">{{country}} </option>
            {% else %}
              <option selected="selected" value="default">Select a Country</option>
            {% endif %}
            
            {% for country in countries %}
                <option value="{{country.name}}">{{country.name}}</option>
            {% endfor %}
          </select>
        
          <input type="submit" value="Get Athletes" name="submit_country"></input>
        </form>
      </div>

      <div id="athleteSelection" style="width: 50%; float:left;">
        <form name="athlete_selection" action="{{ url_for('vote_results')}}" method='POST'>     
          {% if(athletes)%}
            <select name="athlete" id="athleteSelectionBox">
              {% for athlete in athletes %}
                <option value="{{athlete.name}}">{{athlete.name}}</option>
              {% endfor %}
            </select>
            <input type="submit" value="Submit Vote" name="submit_all"></input>
          {% else %}
              {% if not(initial) %}
                <p>No athletes from this country</p>
              {% endif %}
          {% endif %}
        </form>

        {% endblock %}
      </div>

    </div>

  </body>
</html>
