<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>GOlympics!</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
 <!--    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen"/> -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" type="text/css" href="/static/css/component.css?<?php echo time(); ?>" />
    <link rel="import" href="/static/bower_components/flag-icon/flag-icon.html" />
    <script src="/static/bower_components/webcomponentsjs/webcomponents.min.js"></script> 
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico" />

  </head>
  <body>
   <header id="ha-header" class="ha-header ha-header-large">
      <div class="ha-header-perspective">
        <div class="ha-header-front">
          <h1>GOlympics</h1>
            <nav>
              <a href="/votes">&lsaquo; Vote Page</a>
              <a href="/">Home</a>
              <a href="/compare_countries">Country Results &rsaquo;</a>
            </nav>
        </div>
      </div>
    </header>

    <div class="vote-results-container">
    {% block content %}
      <div class="vote-results">
      <h2> Top Ten Vote Recipients</h2>
       
        <table style="width:100%; text-align: center;">
           <tr>
              <th>Athlete Name</th>
              <th> Country </th>
              <th>Number of Votes</th> 
              <th>Discipline</th>
            </tr>
          {% for top in topTen %}
            <tr>
              <td>
                {{top.name}}
              </td>
              <td>
                {{top.ioc_code}}<flag-icon key="{{top.ioc_code}}" img></flag-icon>
              </td>
              <td>
                {{top.vote}}
              </td>
              <td>
                {{top.discipline}}
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
      <!--
      <div class="your-vote">
        <p> 
        {% if userVote %}
        The athlete you voted for {{userVote.name}} has {{userVote.vote}} votes.
        {% endif %}
         </p>
       </div>
     -->
    {% endblock %}

    </div>
  </body>
</html>
